html, body {
  background-color: #0f1113;
  color: #e9ecef;
}

/* Navbar */
.navbar-dark.bg-dark { background-color: #181b1f !important; }
.dropdown-menu { background: #1f2328; color: #e9ecef; border-color: #343a40; }
.dropdown-item { color: #e9ecef; }
.dropdown-item:hover { background: #2a2f36; }

/* Cards */
.card.bg-dark { background: #1b1f24; }
.card .btn.btn-primary { background: #2563eb; border-color: #2563eb; }
.card .btn.btn-outline-warning { border-color: #f59e0b; color: #f59e0b; }
.card .btn.btn-outline-warning:hover { background: #f59e0b; color: #1b1f24; }

/* =======================  =========*/
.sw-card-img {
  aspect-ratio: 3 / 2;
  width: 100%;
  object-fit: cover;
  background: #2a2f36;
  border-bottom: 1px solid #343a40;
}

/* Títulos */
h2.text-danger { color: #e11d48 !important; }

/* ====*/
.sw-autocomplete {
  background: #1f2328;
  border-color: #343a40;
  color: #e9ecef;
}
.sw-autocomplete .list-group-item {
  background: transparent;
  color: #e9ecef;
  border-color: #2a2f36;
}
.sw-autocomplete .list-group-item:hover {
  background: #2a2f36;
}

.sw-thumb {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 0.25rem;
  background: #2a2f36;
  border: 1px solid #343a40;
}

.sw-suggestion { padding-top: .5rem; padding-bottom: .5rem; }

.sw-card-img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  background: #2a2f36;
  border-bottom: 1px solid #343a40;
}
.sw-card-body {
  min-height: 120px;
}

/* Sidebar izquierdo  */
.sw-sidebar {
  position: sticky;
  top: 72px;
}
.sw-sidebar .list-group-item {
  background: #1b1f24;
  color: #e9ecef;
  border-color: #2a2f36;
}
.sw-sidebar .list-group-item.active,
.sw-sidebar .list-group-item:hover {
  background: #2a2f36;
  color: #fff;
}

.sw-detail-img {
  width: 100%;
  object-fit: cover;
  background: #2a2f36;
  border-radius: .5rem;
  aspect-ratio: 4 / 5;
}

@media (min-width: 992px) { /* lg */
  .sw-detail-img {
    aspect-ratio: 3 / 4;
    max-height: 78vh;
  }
}
